In [ ]:
import pandas as pd
import datetime

### EOD data for USD

In [ ]:
USD_predicted_data = pd.read_csv('./USD_10min_predicted_price.csv')
USD_data = pd.read_csv('./USD_10min_dataset.csv')

In [ ]:
USD_predicted_data = USD_predicted_data.drop(['y_train'], axis=1)
USD_predicted_data['Date'] = pd.to_datetime(USD_predicted_data['Date'])
USD_predicted_data = USD_predicted_data.dropna()
USD_predicted_data = USD_predicted_data.sort_values(['Date', 'y_pred']).groupby(USD_predicted_data['Date'].dt.date)['y_pred'].agg(['last']).reset_index()
USD_predicted_data.head()

         Date      last
0  2022-08-22  0.999946
1  2022-08-23  0.999938
2  2022-08-24  0.999882
3  2022-08-25  0.999944
4  2022-08-26  0.999954

In [ ]:
USD_data['Date'] = pd.to_datetime(USD_data['Date'], errors='coerce')
USD_data=USD_data.sort_values(by="Date", ascending=True)
USD_data = USD_data.dropna()
USD_data = USD_data.sort_values(['Date', 'Close']).groupby(USD_data['Date'].dt.date)['Close'].agg(['last']).reset_index()
USD_data = USD_data.loc[USD_data['Date'] <= datetime.date(year=2022,month=8,day=21)]

In [ ]:
USD_data_merged = pd.concat([USD_data, USD_predicted_data])
USD_data_merged.columns=['Date','USD']

In [ ]:
USD_data_merged_D = USD_data_merged[USD_data_merged.duplicated()==True]
USD_data_merged_D

Empty DataFrame
Columns: [Date, USD]
Index: []

In [ ]:
USD_data_merged

          Date       USD
0   2022-03-11  0.999900
1   2022-03-12  0.999900
2   2022-03-13  1.000000
3   2022-03-14  0.999900
4   2022-03-15  1.000200
..         ...       ...
33  2022-09-26  0.999850
34  2022-09-27  1.000158
35  2022-09-28  1.000103
36  2022-09-29  0.999881
37  2022-09-30  0.999884

[202 rows x 2 columns]

In [ ]:
#USD_data_merged.set_index('Date',inplace=True)

### EOD data for Binance

In [ ]:
binance_predicated_data = pd.read_csv('./binance_10min_predicted_price.csv')
binance_data = pd.read_csv('./binance_10min_dataset.csv')

In [ ]:
binance_predicated_data = binance_predicated_data.drop(['y_train'], axis=1)
binance_predicated_data['Date'] = pd.to_datetime(binance_predicated_data['Date'])
binance_predicated_data = binance_predicated_data.dropna()
binance_predicated_data = binance_predicated_data.sort_values(['Date', 'y_pred']).groupby(binance_predicated_data['Date'].dt.date)['y_pred'].agg(['last']).reset_index()
#binance_data.set_index('Date',inplace=True)

In [ ]:
binance_predicated_data.head()

         Date       last
0  2022-08-22  297.97192
1  2022-08-23  297.25513
2  2022-08-24  296.67505
3  2022-08-25  300.87555
4  2022-08-26  283.41275

In [ ]:
binance_data['Date'] = pd.to_datetime(binance_data['Date'], errors='coerce')
binance_data=binance_data.sort_values(by="Date", ascending=True)
binance_data = binance_data.dropna()
binance_data = binance_data.sort_values(['Date']).groupby(binance_data['Date'].dt.date)['Close'].agg(['last']).reset_index()
binance_data = binance_data.loc[binance_data['Date'] <= datetime.date(year=2022,month=8,day=21)]

In [ ]:
binance_data.head()

         Date      last
0  2022-03-11  371.8956
1  2022-03-12  372.2680
2  2022-03-13  361.8875
3  2022-03-14  373.9835
4  2022-03-15  371.7406

In [ ]:
binance_data_merged = pd.concat([binance_data, binance_predicated_data])
binance_data_merged.columns=['Date','binance']

In [ ]:
binance_data_merged_d = binance_data_merged[binance_data_merged.duplicated()==True]
binance_data_merged_d

Empty DataFrame
Columns: [Date, Close]
Index: []

In [ ]:
binance_data_merged

          Date      Close
0   2022-03-11  371.89560
1   2022-03-12  372.26800
2   2022-03-13  361.88750
3   2022-03-14  373.98350
4   2022-03-15  371.74060
..         ...        ...
33  2022-09-26  273.59775
34  2022-09-27  271.62445
35  2022-09-28  281.31387
36  2022-09-29  281.93140
37  2022-09-30  281.81982

[202 rows x 2 columns]

### EOD data for Bitcoin

In [ ]:
bitcoin_predicated_data = pd.read_csv('./bitcoin_10min_predicted_price.csv')
bitcoin_data = pd.read_csv('./bitcoin_10min_dataset.csv')

In [ ]:
bitcoin_predicated_data = bitcoin_predicated_data.drop(['y_train'], axis=1)
bitcoin_predicated_data['Date'] = pd.to_datetime(bitcoin_predicated_data['Date'])
bitcoin_predicated_data = bitcoin_predicated_data.dropna()
bitcoin_predicated_data = bitcoin_predicated_data.sort_values(['Date', 'y_pred']).groupby(bitcoin_predicated_data['Date'].dt.date)['y_pred'].agg(['last']).reset_index()
#bitcoin_data.set_index('Date',inplace=True)

In [ ]:
bitcoin_predicated_data.head()

         Date       last
0  2022-08-24  21593.984
1  2022-08-25  21564.486
2  2022-08-26  20648.936
3  2022-08-27  19984.217
4  2022-08-28  19993.021

In [ ]:
bitcoin_data['Date'] = pd.to_datetime(bitcoin_data['Date'], errors='coerce')
bitcoin_data=bitcoin_data.sort_values(by="Date", ascending=True)
bitcoin_data = bitcoin_data.dropna()
bitcoin_data = bitcoin_data.sort_values(['Date']).groupby(bitcoin_data['Date'].dt.date)['Close'].agg(['last']).reset_index()
bitcoin_data = bitcoin_data.loc[(bitcoin_data['Date'] >= datetime.date(year=2022,month=3,day=11)) & (bitcoin_data['Date'] <= datetime.date(year=2022,month=8,day=23))]

In [ ]:
bitcoin_data_merged = pd.concat([bitcoin_data, bitcoin_predicated_data])
bitcoin_data_merged.columns=['Date','bitcoin']

In [ ]:
bitcoin_data_merged_d = bitcoin_data_merged[bitcoin_data_merged.duplicated()==True]
bitcoin_data_merged_d

Empty DataFrame
Columns: [Date, bitcoin]
Index: []

In [ ]:
bitcoin_data_merged

           Date    bitcoin
412  2022-03-11  38735.550
413  2022-03-12  38814.700
414  2022-03-13  37791.500
415  2022-03-14  39676.630
416  2022-03-15  39301.580
..          ...        ...
33   2022-09-26  19182.098
34   2022-09-27  19098.273
35   2022-09-28  19612.451
36   2022-09-29  19510.658
37   2022-09-30  19510.215

[204 rows x 2 columns]

### EOD data for Ethereum

In [ ]:
ethereum_predicated_data = pd.read_csv('./ethereum_10min_predicted_price.csv')
ethereum_data = pd.read_csv('./ethereum_10min_dataset.csv')

In [ ]:
ethereum_predicated_data = ethereum_predicated_data.drop(['y_train'], axis=1)
ethereum_predicated_data['Date'] = pd.to_datetime(ethereum_predicated_data['Date'])
ethereum_predicated_data = ethereum_predicated_data.dropna()
ethereum_predicated_data = ethereum_predicated_data.sort_values(['Date', 'y_pred']).groupby(ethereum_predicated_data['Date'].dt.date)['y_pred'].agg(['last']).reset_index()
#ethereum_data.set_index('Date',inplace=True)

In [ ]:
ethereum_predicated_data

          Date       last
0   2022-08-24  1663.5382
1   2022-08-25  1690.0919
2   2022-08-26  1544.3570
3   2022-08-27  1465.3712
4   2022-08-28  1469.3041
5   2022-08-29  1533.6416
6   2022-08-30  1537.0726
7   2022-08-31  1562.5634
8   2022-09-01  1576.2579
9   2022-09-02  1564.7650
10  2022-09-03  1545.2657
11  2022-09-04  1561.4572
12  2022-09-05  1587.0743
13  2022-09-06  1569.6224
14  2022-09-07  1634.9651
15  2022-09-08  1627.3351
16  2022-09-09  1707.1329
17  2022-09-10  1740.5087
18  2022-09-11  1737.0421
19  2022-09-12  1700.9407
20  2022-09-13  1584.7755
21  2022-09-14  1603.2708
22  2022-09-15  1480.4355
23  2022-09-16  1431.6250
24  2022-09-17  1450.2527
25  2022-09-18  1335.2036
26  2022-09-19  1371.9601
27  2022-09-20  1328.4940
28  2022-09-21  1253.0895
29  2022-09-22  1317.7632
30  2022-09-23  1315.2260
31  2022-09-24  1321.5509
32  2022-09-25  1286.7680
33  2022-09-26  1318.8446
34  2022-09-27  1319.1326
35  2022-09-28  1341.6195
36  2022-09-29  1331.4506
37  2022-09-30  1330.6384

In [ ]:
ethereum_data['Date'] = pd.to_datetime(ethereum_data['Date'], errors='coerce')
ethereum_data=ethereum_data.sort_values(by="Date", ascending=True)
ethereum_data = ethereum_data.dropna()
ethereum_data = ethereum_data.sort_values(['Date']).groupby(ethereum_data['Date'].dt.date)['Close'].agg(['last']).reset_index()
ethereum_data = ethereum_data.loc[(ethereum_data['Date'] >= datetime.date(year=2022,month=3,day=11)) & (ethereum_data['Date'] <= datetime.date(year=2022,month=8,day=23))]

In [ ]:
ethereum_data_merged = pd.concat([ethereum_data, ethereum_predicated_data])
ethereum_data_merged.columns=['Date','ethereum']

In [ ]:
ethereum_data_merged_d = ethereum_data_merged[ethereum_data_merged.duplicated()==True]
ethereum_data_merged_d

Empty DataFrame
Columns: [Date, ethereum]
Index: []

In [ ]:
ethereum_data_merged

           Date   ethereum
412  2022-03-11  2557.2400
413  2022-03-12  2568.9000
414  2022-03-13  2516.3700
415  2022-03-14  2590.3450
416  2022-03-15  2619.2350
..          ...        ...
33   2022-09-26  1318.8446
34   2022-09-27  1319.1326
35   2022-09-28  1341.6195
36   2022-09-29  1331.4506
37   2022-09-30  1330.6384

[204 rows x 2 columns]

### EOD data for Tether

In [ ]:
tether_predicated_data = pd.read_csv('./tether_10min_predicted_price.csv')
tether_data = pd.read_csv('./tether_10mins_dataset.csv')

In [ ]:
tether_predicated_data = tether_predicated_data.drop(['y_train'], axis=1)
tether_predicated_data['Date'] = pd.to_datetime(tether_predicated_data['Date'])
tether_predicated_data = tether_predicated_data.dropna()
tether_predicated_data = tether_predicated_data.sort_values(['Date', 'y_pred']).groupby(tether_predicated_data['Date'].dt.date)['y_pred'].agg(['last']).reset_index()
#tether_data.set_index('Date',inplace=True)

In [ ]:
tether_predicated_data.head()

         Date      last
0  2022-08-22  0.999620
1  2022-08-23  0.999602
2  2022-08-24  0.999664
3  2022-08-25  0.999673
4  2022-08-26  0.999685

In [ ]:
tether_data['Date'] = pd.to_datetime(tether_data['Date'], errors='coerce')
tether_data=tether_data.sort_values(by="Date", ascending=True)
tether_data = tether_data.dropna()
tether_data = tether_data.sort_values(['Date']).groupby(tether_data['Date'].dt.date)['Close'].agg(['last']).reset_index()
tether_data = tether_data.loc[(tether_data['Date'] >= datetime.date(year=2022,month=3,day=11)) & (tether_data['Date'] <= datetime.date(year=2022,month=8,day=23))]

In [ ]:
tether_data_merged = pd.concat([tether_data, tether_predicated_data])
tether_data_merged.columns=['Date','tether']

In [ ]:
tether_data_merged_d = tether_data_merged[tether_data_merged.duplicated()==True]
tether_data_merged_d

Empty DataFrame
Columns: [Date, tether]
Index: []

In [ ]:
tether_data_merged

          Date    tether
0   2022-03-11  1.000100
1   2022-03-12  1.000100
2   2022-03-13  1.000300
3   2022-03-14  1.000200
4   2022-03-15  1.000300
..         ...       ...
33  2022-09-26  0.999723
34  2022-09-27  0.999653
35  2022-09-28  0.999698
36  2022-09-29  0.999701
37  2022-09-30  0.999695

[204 rows x 2 columns]

### Merge All Dataframe

In [ ]:
crypto_predicated_data_1 = pd.merge(USD_data_merged,ethereum_data_merged, how='inner',on ='Date')
crypto_predicated_data_2 = pd.merge(crypto_predicated_data_1,binance_data_merged, how='inner',on ='Date')
crypto_predicated_data_3 = pd.merge(crypto_predicated_data_2, bitcoin_data_merged, how='inner',on ='Date')
crypto_predicated_data_4 = pd.merge(crypto_predicated_data_3,tether_data_merged, how='inner',on ='Date')

In [ ]:
crypto_predicated_data_4.columns = ['Date','USD','ethereum','binance','bitcoin','tether']
crypto_predicated_data_4.to_csv('Crypto_predicted_close_price.csv')
crypto_predicated_data_4

           Date       USD   ethereum    binance    bitcoin    tether
0    2022-03-11  0.999900  2557.2400  371.89560  38735.550  1.000100
1    2022-03-12  0.999900  2568.9000  372.26800  38814.700  1.000100
2    2022-03-13  1.000000  2516.3700  361.88750  37791.500  1.000300
3    2022-03-14  0.999900  2590.3450  373.98350  39676.630  1.000200
4    2022-03-15  1.000200  2619.2350  371.74060  39301.580  1.000300
..          ...       ...        ...        ...        ...       ...
199  2022-09-26  0.999850  1318.8446  273.59775  19182.098  0.999723
200  2022-09-27  1.000158  1319.1326  271.62445  19098.273  0.999653
201  2022-09-28  1.000103  1341.6195  281.31387  19612.451  0.999698
202  2022-09-29  0.999881  1331.4506  281.93140  19510.658  0.999701
203  2022-09-30  0.999884  1330.6384  281.81982  19510.215  0.999695

[204 rows x 6 columns]

In [ ]:
crypto_predicated_data_4.set_index('Date',inplace=True)

In [ ]:
crypto_predicated_data_4.to_csv('./crypto_predicted_close_price.csv')