In [1]:
import pandas as pd
import datetime

In [8]:
USD_data = pd.read_csv('./USD.csv')
binance_data = pd.read_csv('./binance.csv')
bitcoin_data = pd.read_csv('./bitcoin.csv')
ethereum_data = pd.read_csv('./ethereum.csv')
tether_data = pd.read_csv('./tether.csv')
tether_data.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  2020-07-01  0.999646  1.006739  0.997494  1.001561   1.001561  20410901924
1  2020-07-02  1.000955  1.020263  0.998709  1.015718   1.015718  21713824216
2  2020-07-03  1.015713  1.018317  0.997926  0.999521   0.999521  17207532375
3  2020-07-04  0.999756  1.009838  0.995704  1.001078   1.001078  16834529314
4  2020-07-05  1.000234  1.005642  0.996846  0.998899   0.998899  18453609716

In [9]:
columns = ['Open', 'High','Low','Close','Volume' ]
USD_data.drop(columns, axis=1, inplace=True)
binance_data.drop(columns, axis=1, inplace=True)
bitcoin_data.drop(columns, axis=1, inplace=True)
ethereum_data.drop(columns, axis=1, inplace=True)
tether_data.drop(columns, axis=1, inplace=True)
USD_data

           Date  Adj Close
0    2020-07-01   1.000325
1    2020-07-02   1.005746
2    2020-07-03   1.000238
3    2020-07-04   0.999576
4    2020-07-05   0.997817
..          ...        ...
210  2021-01-27   1.000018
211  2021-01-28   0.999578
212  2021-01-29   0.999971
213  2021-01-30   1.000026
214  2021-01-31   0.999961

[215 rows x 2 columns]

In [10]:
crypto_predicated_data_1 = pd.merge(USD_data,ethereum_data, how='inner',on ='Date')
crypto_predicated_data_2 = pd.merge(crypto_predicated_data_1,binance_data, how='inner',on ='Date')
crypto_predicated_data_3 = pd.merge(crypto_predicated_data_2, bitcoin_data, how='inner',on ='Date')
crypto_predicated_data_4 = pd.merge(crypto_predicated_data_3,tether_data, how='inner',on ='Date')

<ipython-input-10-7276e069061a>:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Adj Close_x'} in the result is deprecated and will raise a MergeError in a future version.
  crypto_predicated_data_3 = pd.merge(crypto_predicated_data_2, bitcoin_data, how='inner',on ='Date')

In [13]:
crypto_predicated_data_4.columns = ['Date','USD','ethereum','binance','bitcoin','tether']

           Date       USD     ethereum    binance       bitcoin    tether
0    2020-07-01  1.000325   231.113419  15.829460   9228.325195  1.001561
1    2020-07-02  1.005746   229.392197  15.538490   9123.410156  1.015718
2    2020-07-03  1.000238   225.387070  15.291962   9087.303711  0.999521
3    2020-07-04  0.999576   229.074112  15.552981   9132.488281  1.001078
4    2020-07-05  0.997817   227.664597  15.480226   9073.942383  0.998899
..          ...       ...          ...        ...           ...       ...
210  2021-01-27  1.000018  1253.187134  40.994877  30432.546875  1.001764
211  2021-01-28  0.999578  1332.492188  42.529106  33466.097656  1.001543
212  2021-01-29  0.999971  1382.522827  42.852348  34316.386719  1.000486
213  2021-01-30  1.000026  1376.115479  44.772278  34269.523438  1.001243
214  2021-01-31  0.999961  1314.986206  44.275993  33114.359375  1.000808

[215 rows x 6 columns]

In [14]:
crypto_predicated_data_4.set_index('Date',inplace=True)

In [17]:
crypto_predicated_data_4.to_csv('crypto_historical_close_price.csv')

In [18]:
crypto_predicated_data_4

                 USD     ethereum    binance       bitcoin    tether
Date
2020-07-01  1.000325   231.113419  15.829460   9228.325195  1.001561
2020-07-02  1.005746   229.392197  15.538490   9123.410156  1.015718
2020-07-03  1.000238   225.387070  15.291962   9087.303711  0.999521
2020-07-04  0.999576   229.074112  15.552981   9132.488281  1.001078
2020-07-05  0.997817   227.664597  15.480226   9073.942383  0.998899
...              ...          ...        ...           ...       ...
2021-01-27  1.000018  1253.187134  40.994877  30432.546875  1.001764
2021-01-28  0.999578  1332.492188  42.529106  33466.097656  1.001543
2021-01-29  0.999971  1382.522827  42.852348  34316.386719  1.000486
2021-01-30  1.000026  1376.115479  44.772278  34269.523438  1.001243
2021-01-31  0.999961  1314.986206  44.275993  33114.359375  1.000808

[215 rows x 5 columns]